  </div>
  <div id="push"></div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-left pull-left"><small><a href='/impressum'>Impressum</a></small></p>
    <p class="text-right pull-right"><small>Follow me on <a href="{{ site.github }}">GitHub</a> or <a href="https://twitter.com/flowerpot_dev">@flowerpot_dev</a> &copy; Copyright 2013. </small></p>
  </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Piwik -->
<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
 var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.suploy.com//";
 _paq.push(['setTrackerUrl', u+'piwik.php']);
 _paq.push(['setSiteId', 1]);
 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
 g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
 })();
</script>
<noscript><p><img src="http://analytics.suploy.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
