<!DOCTYPE html>
<html>
<head>
  <title>Frederic Branczyk - a blog about software development, projects and life</title>
  <meta name="description" content="{{ site.description }}"> 
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css">
</head>
<body>
  <div id="page-header" class="hidden-print">
    <div class="container text-center"">
      <div class="col-sm-2 col-sm-offset-2">
        <img class="img-circle" src="{{ 'fbranczyk@gmail.com' | get_gravatar }}?s=200" />
      </div>
      <div class="col-sm-6">
        <h1 style="padding-top: 20px;"><a href="/">Frederic Branczyk || <span style="white-space: nowrap">flower-pot</span><br /><small>{{ site.description }}</small></a></h1>
      </div>
    </div>
  </div>
