<!DOCTYPE html>
<html>
<head>
  <title>flowerpot.io - a blog about software development, projects and life</title>
  <meta name="description" content="{{ site.description }}"> 
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css">
</head>
<body>
  <div id="page-header" class="hidden-print">
    <div class="container text-center">
      <h1><a href="/">Frederic Branczyk || flowerpot</a></h1>
      <strong>{{ site.description }}</strong>
    </div>
  </div>
