<!DOCTYPE html>
<html>
<head>
<title>flowerpot.io - a blog about software development, projects and life</title>
<meta name="description" content="{{ site.description }}"> 
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrap">
  <div class="page-header">
    <div class="container">
      <h1><a href="{{ site.url }}">flowerpot</a></h1>
      <strong>computer science student's blog about software development, projects and life</strong>
      <div class="pull-right">
        <a href="{{ site.url }}">Blog</a> | 
        <a href="{{ site.url }}/archive/">Archive</a> | 
        <a href="{{ site.github }}">GitHub</a>
      </div>
    </div>
  </div>
  <div class="container">
